body {
     padding: 20px;
     background-color: #121212;
     color: white;
     font-family: 'Roboto', sans-serif;
     scroll-behavior: smooth;
}

.centered {
     display: flex;
     justify-content: center;
}

hr {
     border: 3px solid white;
     border-radius: 8px;
     width: 600px;
}